- hosts: prod-server
  become: yes

  tasks:
    - name: Remove old container
      shell: docker rm -f flask-demo || true

    - name: Load new image
      shell: docker load -i /tmp/myapp.tar

    - name: Run new container
      shell: docker run -d --name flask-demo -p 5000:5000 flask-ci-cd-demo:latest

